body{
    background:url('img/grid.png');
    background-color:#fff;
    font: 14px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
a, a:visited {
	color: #2EAE9B;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover, a:active {
	color: #000;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	line-height: 1.2em;
	margin-bottom: 0.6em;
}

/*Structural*/
.inner {
	margin: 0 auto;
    width: 100%;
}
#header {
	background: #EE8900;
    color: #FCCE00;
}
#header a { color: #FCCE00; }
#header h1 a,
#header a:hover { color: #fff; }
#header h1 { 
	font-weight: bold;
    float: left;
	margin: 0; 
}
#header .nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
#header .nav li { display: inline; }
#header .nav a {
	font-weight: bold;
	margin-left: 20px;
}

#backdrop{
    position:relative;
    width:100%;
}
#bg-img{
    width:100%;
}

#content{ margin-top:-15%; }
#content,#posts{
    background:#fff;
    border-right:solid 5px #EE8900;
    border-top-right-radius:.5em;
    padding:.7em;
    position:relative;
}
#content h2{
    font-size:1.8em;
    margin: .7em .5em;
}
#content h3{
    direction:rtl;
    margin: 1.2em;
}
#content h4{
    color:#333;
    margin: 1em;
}
#content p,#posts p{
    margin:0 1em 1em;
    text-indent:1.5em;
}
.post-header{
    background:#707070;
    box-sizing:border-box;
    color:#fff;
    padding:2em 1em 0;
    width:100%;
}
.post-title{ 
    color:#fff;
    font-size:1.8em;
    margin:0;
}

/*Media queries, only one breakpoint, we don't have much fanciness here*/
@media(min-width:750px){
    .inner{ width:70%;}
    #header{ padding:20px 0; }
    #header h1:hover:after{
        content:"|Home";
        color:#fff;
    }
}

/*Helper classes*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.right{ float:right; }
.left{ float:left; }